img#logohome{
    width:125px;
    height: 100px;
    margin-top : 20px;
    margin-left : 20px;
}
#logohome:hover{
    cursor: pointer;
}

div .head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/**{
    border: 3px solid black;
}*/


div button {
    background-color: white;
    border:none;
    height: 200px;
    width: 200px;
    margin-top: 20px;
    object-fit: cover;
}
div button:hover {
    transform:scale(1.1, 1.1);
    cursor: pointer;
}
div button:active {
    transform:scale(1.0, 1.0);
    box-shadow: none;
}
img {
    width: 100%;
    height: auto;                                                  
}

div.grid {
    display: grid;
    grid-template-columns: 25% 75%;
}

div.animalphotos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px 20px;
}
